html {
    scroll-behavior: smooth;
    width: 100%;
}
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.container{
    width: 1700px;
    max-width: 90%;
    margin: auto;
}

.container-sm{
    width: 1400px;
    max-width: 90%;
    margin: auto;
}


:root {
    --white: #ffffff;
    --black: #000000;
    --light_grey: #EFEFEF;
    --medium_grey: #D9D9D9;
    --dark_grey: #797979;
    --red: #e3292c;
    --blue: #3798DD;
  }


/* ----------------------- Section 1 Start-------------------------- */

.hero{
    position: relative;
}

.hero img{
    max-width: 100%;
    height: auto;
}

header #navbar{
    display: flex;
    align-items: center;
    background-color: var(--white);
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    border-radius: 20px ;    
    height: 100px;
    position: fixed;
    top: 50px;
    width: 100%;
    left: 50%;
    margin-left: auto;
    transform: translateX(-50%);
    transition: all 0.75s ease;
    z-index: 11111;
}   


header .logo img{
    max-width: 140px;
    /* margin-left: 116px; */
} 

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li{
    display: inline-block;
    margin-right: 50px;
}
header nav ul li:last-of-type{
    margin-right: 0;
}

header nav ul li a, .profile_login a{
    text-decoration: none;
    color: var(--black);

}


header nav ul li, .profile_login span {
    font-size: 18px;
    font-weight: 500;
}

header .container{
    display: flex;
    justify-content: space-around;
}

header .profile_login{
    margin-right: 116px;
}

header .profile_login a{
    display: flex;
    align-items: center;
}

header .profile_login span{
    text-decoration: none;
}

header .profile_login img{
    margin-left: 5px;
    max-width: 30px;
}


.hero .hero-content{
    position: absolute;
    top: 210px;
    width: 100%;
    left: 0;
    color: var(--white);
    text-align: center;
    text-shadow: 0px 3px 10px #0000008a;
    line-height: 0;
    z-index: 100;
}


.hero .hero-content h3,h1{
    text-transform: uppercase;
    font-weight: 400;
}

.hero .hero-content h3{
    font-size: 30px;
    letter-spacing: 2px;
    text-indent: 2px;    
}
.hero .hero-content h1{
    font-size: 85px;
    letter-spacing: 35px;
    text-indent: 40px;
}
.hero .hero-content p   {
    font-size: 26px;
    font-weight: 400;
}

section.hero .hero-social-media{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
section.hero .hero-social-media .container{
    display: flex;
    height: 100%;
    align-items: center;
}


section.hero .hero-social-media ul{
    padding-left: 0;
    z-index: 101;
}

section.hero .hero-social-media ul li{
    list-style: none;
    padding: 25px 0;
}


section.hero .hero-social-media ul li a i{
    height: 20px;
    color: #ffffff80;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    /* transform: rotate(270deg); */
}

section.hero .hero-social-media ul li a i:hover {
    color: white;
    /* transform: rotate(270deg) scale(1.2); */
    transform: scale(1.2);
}



/* ----------------------- Section 1 End-------------------------- */


/* ----------------------- Section 2 Start-------------------------- */

section.choose-switchx{
    padding: 100px;
}

section.choose-switchx .heading, p {
    text-align: center;
}

 .heading {
    font-size: 64px;
    font-weight: 500;
    max-width: 500px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

section.choose-switchx p {
    font-size: 22px;
    max-width: 700px;
    margin: 40px auto 0;
    line-height: 35px;
    letter-spacing: 5px;
}


section.choose-switchx-l {
    display: flex   ;
    justify-content: space-evenly;
    margin-top: 100px;
}

section.choose-switchx-l .content-img img{
    max-width: 500px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.choose-switchx-l .content h3{
    font-size: 48px;
    font-weight: 400;
    margin:0 0 10px 0;
    width: 500px;
}


section.choose-switchx-l .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.choose-switchx-l .content p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal !important;
    text-align: start !important;
    margin:0;
}

section.choose-switchx-r {
    display: flex   ;
    justify-content: space-evenly;
    margin-top: 100px;
}

section.choose-switchx-r .content-img img{
    max-width: 500px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.choose-switchx-r .content h3{
    font-size: 48px;
    font-weight: 400;
    margin:0 0 10px 0;
    width: 500px;
}

section.choose-switchx-r .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.choose-switchx-r .content p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal !important;
    text-align: start !important;
    margin:0;
}

/* ----------------------- Section 2 End-------------------------- */



/* ----------------------- Section 3 Start-------------------------- */
#section-3 {
    background: #EFEFEF;
    padding: 3.5rem 10rem;
}

#section-3 .container .top {
    position:relative;
    margin-bottom: 5rem;
}

#section-3 .container .top img {
    position: absolute;
    top: 60px;
    left: 150px;
    width: 200px;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

#section-3 .swiper-slide:not(.swiper-slide-active) {
    filter: blur(1.5px);
}

.swiper-pagination-bullet-active{
    background: var(--dark_grey) !important;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--dark_grey) !important;
}   


#section-3 .bottom .card{
    width: 300px;
    height: 350px;
    max-width: 100%;
    background-color: var(--white);
    border-radius: 50px;
    margin: 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 50px;
    position: relative;
    text-align: center;
}

#section-3 .bottom .card .card-img{
    max-width: 100px;
    border-radius: 50px;
}
#section-3 .bottom .card .card-name{
    position: relative;
    z-index: 103;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
    margin: 20px auto;
    max-width: 100%;
    min-height: 50px;
}
#section-3 .bottom .card .card-review .comma{
    max-width: 58px;
    position: absolute  ;
    z-index: 102;
}

#section-3 .bottom .card .card-review img:nth-of-type(odd){
    left: 50px;
    top: 225px;
}
#section-3 .bottom .card .card-review img:nth-of-type(even){
    right: 50px;
    bottom: 90px;
    rotate: 180deg;
}

#section-3 .bottom .card .card-review .review{
    font-size: 18px !important;
    font-style: italic;
    z-index: 103;
    position: relative;
    text-align: left !important;
    margin: 35px 0;
}

/* ----------------------- Section 3 End-------------------------- */



/* ----------------------- FOOTER Start-------------------------- */

#section-4{
    background-color: var(--medium_grey);
    padding: 50px 0 25px 0;
}

/* .footer{
    background-color: beige;
    height: 400px;
} */

.footer .footer-sec:nth-of-type(odd){
    width: 25%;
}
.footer .footer-sec:nth-of-type(even){
    width: 49%;
}

.footer .footer-sec{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
#section-4 .footer .footer-sec .contact-heading{
    font-size: 48px;
    font-weight: 500;
    margin: 0;
} 

#section-4 .footer .footer-sec .contact-icon{
    width: 40px;
    text-align: center;
} 

#section-4 .footer .footer-sec .contact-location, .contact-email, .contact-mobile{
    display: flex;
    align-items: center;
} 


#section-4 .footer .contact-location span, .contact-email span, .contact-mobile span{
    text-align: start ;
    margin: 2rem 2.5rem;
    font-size: 18px;
}

#section-4 .footer .contact-location img{
    width: 28px;
}
#section-4 .footer .contact-email img{
    width: 35px;
}
#section-4 .footer .contact-mobile img{
    width: 24px;
}

/* ---------------------FOOTER Form Start--------------------- */



#section-4 .footer .footer-sec .contact{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */

    display: flex;
    justify-content: center ;
    width: 100%;
    /* width: 600px; */
    /* align-items: center; */
    /* min-height: 100vh; */
}

.contact form{
    /* text-align: center; */
    /* width: 600px; */
    /* width: 80%; */
}

form .input-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* max-width: 100%; */

}
.input-box .input-field{
    width: 50%;
}
.field .lablein{
  font-weight: 500;  
}

.field .item{
    width: 85%;
    padding: 18px;
    background: transparent;
    font-size: 16px;
    color: var(--black);
    margin: 12px 0;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    height: 30px;
    font-family: "Montserrat", serif;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 400;
    /* border: 1px solid var(--black); */
    /* outline: none; */
    /* border-radius: 6px; */
    /* margin-top: 5px;
    width: 350px; */
    /* background-color: transparent; */
 }

 /* .field .item::placeholder{
    color: var(--black);
    font-family: "Montserrat", sans-serif;
 } */

 /* .field label{
    display: block;
    text-align: left !important;
 } */


 .field .error-txt{
    font-size: 14px;
    color: rgb(210, 9, 9);
    text-align: left;
    margin: -5px 0 10px;
    display: none;
    font-weight: 500;
 }
 
 .field .textarea-field .error-txt{
    margin-top: -10px;
 }

 form .textarea-field .item{
    /* resize: none; */
    width: 92.5%;
    height: 5rem;
 }
 form .textarea-field .item{
    resize: none;
 }

 .footer-nav button{
    margin-top: 0 !important;
    width: 100% !important;
}
 
 form button, .footer-nav button{
    padding: 12px 32px;
    width: 96%;
    background: transparent;
    border: 1px solid var(--black);
    outline: none;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;   
    text-transform: uppercase;
    /* transition: 0.5s all ease-in-out; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.66); */
}



/* ---------------------FOOTER Form End--------------------- */



#section-4 .footer-sec .footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

#section-4 .footer-sec .footer-nav ul{
    list-style-type: none;
    /* margin: 2rem 0; */
    padding: 0;
}

#section-4 .footer-sec .footer-nav ul li{
    margin-bottom: 2.5rem;
}

#section-4 .footer-sec .footer-nav ul li a{
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
}


.copyright{
    /* background-color: #00000068; */
    margin: 25px 0 0 0;
}

/* ----------------------- FOOTER End-------------------------- */





/* ------------------------------------------------ ABOUT US PAGE START--------------------------------------------------- */


/* ----------------------- About us Section 1 Start-------------------------- */

#about_section_1{
    margin: 12rem auto 3rem;
}


.heading-para {
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 5px;
    margin: 2rem 0 0 0;
}


.subheading {
    font-size: 48px;
    font-weight: 400;
    margin:0 0 10px 0;
    width: 500px;
}
.subheading-para {
    font-size: 20px;    
    font-weight: 400;
    letter-spacing: normal !important;
    text-align: start !important;
    margin: 0;
}

/* ----------------------- About us Section 1 End-------------------------- */




/* ----------------------- About us Section 2 Start-------------------------- */

#about_section_2{
    background-color: var(--light_grey);
    padding: 75px 0;
}

#about_section_2 .rectangle {
    display: flex;
    border: 2px solid black;
    align-items:center;
    
}

#about_section_2 .rectangle img{
    width: 50%;
    /* delete overflow hidden from this one if container size of rectangle is container-sm and enable in even rectangle*/
    overflow:hidden;
}

#about_section_2 .rectangle:nth-of-type(odd) img {
    border-right: 2px solid black;

}

#about_section_2 .rectangle:nth-of-type(even) img {
    border-left: 2px solid black;
    /* overflow:hidden; */
}

#about_section_2 .rectangle:not(:first-child){
    border-top: 0;
}

#about_section_2 .rectangle .box {
    width: 50%;
}

#about_section_2 .rectangle .box .box-content {
    padding:100px;
}

#about_section_2 .rectangle .box .box-content .subheading-para {
    line-height: 1.6;
}


/* ----------------------- About us Section 2 End-------------------------- */



/* ----------------------- About us Section 3 Start-------------------------- */

#about_section_3{
    padding: 3rem 0;
}

:root {
    --marquee-width: 100vw;
    --marquee-height: 20vh;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 9s);
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    /* background-color: #111; */
    color: #000000;
    overflow: hidden;
    position: relative;
    padding: 4rem 0 5rem 0;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 30rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #ffffff 20%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #ffffff 20%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
    margin:0 1rem;
}

.marquee-content li img:hover {
    filter: none;
}

.marquee-content li img {
    width: 60%;
    object-fit: contain;
    /* Remove black & white filter from company logo */
    /* filter: grayscale(100%); */
    transition: all 0.50s ease;
}

@media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
}

/* ----------------------- About us Section 3 End-------------------------- */


/* ------------------------------------------------------- ABOUT US PAGE END---------------------------------------------------------- */






/* ------------------------------------------------------- CONTACT US PAGE START---------------------------------------------------------- */

/* ----------------------- Contact us Section 1 Start-------------------------- */


#contact_section_1{
    margin: 12rem auto 3rem;
}

#contact_section_1 .main_background{
    height: 1168px;
    border-radius:20px;
    overflow: hidden;
    position: relative;
}

#contact_section_1 .main_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:  2.2s cubic-bezier(0.14, 0.4, 0.09, 0.99);
}


#contact_section_1 .main_background:hover img{
    transform: scale(1.1); /*------- Toggle comment from line to add/remove zoom in affect on background -------*/
}


/*--------- Contact us Page (Leave Message Form) ---------*/

#contact_section_1 .main_background .login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:500px;
    background-color: rgba(255, 255, 255, 0.85);
    padding:70px;
    border-radius: 20px;
}

#contact_section_1 .main_background .login-box h3{
    font-size:40px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

#contact_section_1 .main_background .login-box button{
    padding: 12px 32px;
    width: 98%;
    background: transparent;
    border: 1px solid var(--black);
    outline: none;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
}


/*--------- Contact us Page (Leave Message Form) ---------*/


/* --------------------------- Contact us Section 1 End------------------------------ */


/*----------------------------- Contact us Page Section-2 Start -----------------------------*/

#contact_section_2 {
    margin: 5rem auto;
}

#contact_section_2 .contact-us{
    display: flex;
    justify-content: space-between; /* Space between the main containers */
    padding-bottom: 3rem;
}

#contact_section_2 .contact-us .outer-container {
    display: flex;
    flex-direction: column;
}

#contact_section_2 .contact-us .outer-container .inner-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.inner-item ul {
    padding: 0;
}

.inner-item ul li, .highlited{
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: normal !important;
    text-align: start !important;
    margin: 0;
    padding: 4px 0;
}

.highlited{
    color: var(--blue);
    font-weight: 500;
}

#contact_section_2 .visit-us .subheading{
    margin-bottom: 3rem;
}

#contact_section_2 .visit-us iframe {
    border-radius: 20px;
    margin-bottom: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

#contact_section_2 .visit-us p {
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: normal !important;
    text-align: start !important;
    margin: 20px 0;
}

#contact_section_2 .visit-us p:nth-of-type(even) {
    font-weight: 700 !important;
}

/*----------------------------- Contact us Page Section-2 End -----------------------------*/


/*----------------------------- Contact us Page Section-3 (Copyright Footer) Start -----------------------------*/

#contact_section_3{
    background-color: var(--medium_grey);
    padding: 1.5rem 0;
} 

#contact_section_3 .copyright{
    margin:0;
} 

/*----------------------------- Contact us Page Section-3 (Copyright Footer) End -----------------------------*/



/* ------------------------------------------------------- CONTACT US PAGE END---------------------------------------------------------- */








/* ------------------------------------------------------- SERVICES PAGE START---------------------------------------------------------- */


/*----------------------------- Services Page Section-1 Start -----------------------------*/

#services_section_1{
    margin: 12rem auto 3rem;
}

#services_section_1 .main-container {
    display: flex; /* Use flexbox to arrange child containers horizontally */
    margin: 80px 0;
    /* width: 80%; Width of the main container */
}

#services_section_1 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 275px;
    border: 2px solid black; /* 2px solid black border */
    padding: 20px; /* Padding inside each container */
    text-align: center; /* Center the text */
    flex: 1; /* Allow containers to grow equally */
}


/* Remove margin to make borders overlap */
#services_section_1 .container:not(:last-child) {
    margin-right: -2px; /* Negative margin to overlap borders */
}


#services_section_1 .container:first-child {
    background-color: var(--medium_grey);
}

#services_section_1 .main-container .container .subheading{
    width: 80%;
    align-items: center;
    line-height: 1;
}

#services_section_1 .main-container .container p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

#services_section_1 .main-container .container img{
   max-width: 130px;
}
/*----------------------------- Services Page Section-1 End -----------------------------*/





/*----------------------------- Services Page Section-2 Start -----------------------------*/
#services_section_2{
    margin-bottom: 70px;
}

#services_section_2 .containers:not(:first-child) {
    margin-top: 70px;
}

#services_section_2 .containers .subheading{
    margin-top: 25px;
    margin-bottom: 25px;
}
#services_section_2 .containers .subheading-para{
    line-height: 1.6;
    margin-bottom: 50px;

}

#services_section_2 .containers img{
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#services_section_2 .containers .super-container {
    display: flex;
    justify-content: space-between;
}

#services_section_2 .containers .super-container .sub-containers{
    width: 48%;
}

#services_section_2 .containers .super-container .outer-container:nth-child(1) .subheading-para{
    margin-bottom: 0;
}


#services_section_2 .containers .super-container .outer-container:nth-child(2) {
    display: flex;
    justify-content: left;
}

#services_section_2 .containers .outer-container .inner-item ul {
    /* padding: 0 100px 0 25px; */
    padding-left: 25px;
    margin-right: 5px;
}

#services_section_2 .containers .outer-container .inner-item {
    width: 48%;
}

#services_section_2 .containers .outer-container .inner-item ul li{
    list-style-type: disc;
}






/* 
#services_section_2 .containers .outer-containers {
    display: flex;
} */


/*----------------------------- Services Page Section-2 End -----------------------------*/



/* ------------------------------------------------------- SERVICES PAGE END---------------------------------------------------------- */











.login-container{
    display: flex;
    justify-content: right;
}



.outer-login-container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 210px;
    /* background: linear-gradient(180deg, rgba(197,240,251,1) 0%, rgba(234,234,242,1) 34%, rgba(255,255,255,1) 100%); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 40px 60px;
    z-index: 1111;
    background-color: #FFFFFFD1;
}

.outer-login-container .inner-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    margin: auto;
    height: 80px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.outer-login-container .inner-container .box .login-icon{
    font-size: 22px;
}
.outer-login-container .inner-container .cross-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 18px;
}

.outer-login-container .inner-container .heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}



.outer-login-container .inner-container .input-field:nth-of-type(even){
    margin-bottom: 40px;
}


.outer-login-container .inner-container .input-field label{
    top: 30px;
    left: 9px;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500;
    transition: 0.2s ease;
}


.outer-login-container .inner-container .input-field input{
    margin-top: 5px;
    width: 250px;
    outline: none;
    border: 0 ;
    border-bottom: 1px solid black;
    height: 30px;
    font-family: "Montserrat", serif;
    font-size: 16px;
    padding: 0 10px;
    font-weight: 500;
    background-color: transparent;
}

.outer-login-container .inner-container a{
    font-size: 14px;
    color: #A0A0A0;
    font-weight: 500;
    text-decoration: none;
}
.outer-login-container .inner-container p{
    text-align: right;
    color: #7e7e7e;
}

.outer-login-container .inner-container .submit-btn{
    text-align: center;
}
.outer-login-container .inner-container .submit-btn button{
    font-family: "Montserrat", serif;
    font-size: 14px;
    color: rgb(238, 237, 237);
    font-weight: 500;
    padding: 15px 100px;
    text-transform: uppercase;
    background-color: black;
    border-radius: 10px;
    border: none;
    margin: 30px auto 0;
    cursor: pointer;
}





















/* ----------------------- Progress Circle Start-------------------------- */
#progress {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
}

#progress-value {
    display: block;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background-image: linear-gradient(to right bottom, #ffffff, #ededed, #dbdbdb, #cacaca, #b9b9b9);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: var(--dark_grey)
}

/* ----------------------- Progress Circle End-------------------------- */



.other{
    background-color: beige;
    height: 500px;
}
.other .child{
    width: 33%;
    text-align: center;
    display: inline-block;
    height: 100%;
}
.other .child .child1{
    background-color: brown;
    
}
.other .child .child2{
    background-color: rgb(147, 205, 109);
}
.other .child .child3{
    background-color: rgb(109, 189, 205);
}










.form-applications{
    position: relative;
}

.form-applications .dropbtn i{
    font-size: 14px;
}

.dropbtn {
    color: rgb(0, 0, 0);
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 16px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.dropdown-content .dropdown-headings{
    font-size: 18px !important;
    font-weight: 500 !important;
    margin: 0;
}



.dropdown-content .dropdown-headings:hover {
    background-color: rgb(241, 235, 235);
}

 .dropdown-content .lang:hover {
    background-color: rgb(241, 235, 235);
}


.dropdown-content hr{
    border-top: 1px solid #d9d0d0;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 70px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05);
    z-index: 1;
    border-radius: 10px;
    text-align: left;
    top: 55px;
    padding: 30px 40px;
    width: 100%;
}

.dropdown-content li{
    width: 100%;   
    margin: 0;
}

.dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 500;
}

.dropdown-content .dropdown-headings{
    font-size: 18px !important;     
    margin: 0 !important;
    padding: 5px 0;
}

.show {
    display: block;
}

.rotate {
    transition: transform 0.3s;
    transform: rotate(180deg);
}



















/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: var(--blue);
    margin: 5px;
    transition: all 0.3s ease;
}       
.hamburger{
    display: none;
}




/*Stying for small screens*/
@media screen and (max-width: 800px){
    #navbar{
        position: fixed;
        z-index: 3;
        justify-content: center;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 111111;
        transition: all 0.7s ease;
    }


    .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        background: white;
        height: 100vh;
        width: 100%;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        top:0;
        left:0;
        border-radius: 20px;
        /* box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05); */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li{
        opacity: 0;
        margin: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}



/* Forms & Application popup */
.dropdown-content {
    left:-40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropbtn{
    padding: 0;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}