html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.container{
    width: 1700px;
    max-width: 90%;
    margin: auto;
}


:root {
    --white: #ffffff;
    --black: #000000;
    --light_grey: #EFEFEF;
    --medium_grey: #D9D9D9;
    --dark_grey: #797979;
    --red: #e3292c;
    --blue: #3798DD;
  }


/* ----------------------- Section 1 Start-------------------------- */

.hero{
    position: relative;
}

.hero img{
    max-width: 100%;
    height: auto;
}

header #navbar{
    display: flex;
    align-items: center;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px ;    
    height: 100px;
    position: fixed;
    top: 50px;
    width: 100%;
    left: 50%;
    margin-left: auto;
    transform: translateX(-50%);
    transition: all 0.75s ease;
    z-index: 1000;
}   

header .logo img{
    max-width: 140px;
    margin-left: 116px;
} 

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li{
    display: inline-block;
    margin-right: 50px;
}
header nav ul li:last-of-type{
    margin-right: 0;
}

header nav ul li a, .profile_login a{
    text-decoration: none;
    color: var(--black);

}

header nav ul li, .profile_login span {
    font-size: 18px;
    font-weight: 500;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .profile_login{
    margin-right: 116px;
}

header .profile_login a{
    display: flex;
    align-items: center;
}

header .profile_login span{
    text-decoration: none;
}

header .profile_login img{
    margin-left: 5px;
    max-width: 30px;
}

.hero .hero-content{
    position: absolute;
    top: 210px;
    width: 100%;
    left: 0;
    color: var(--white);
    text-align: center;
    text-shadow: 0px 3px 10px #0000008a;
    line-height: 0;
    z-index: 100;
}


.hero .hero-content h3,h1{
    text-transform: uppercase;
    font-weight: 400;
}

.hero .hero-content h3{
    font-size: 46px;
    letter-spacing: 2px;
    text-indent: 2px;    
}
.hero .hero-content h1{
    font-size: 86px;
    letter-spacing: 98px;
    text-indent: 98px;
}
.hero .hero-content p   {
    font-size: 26px;
    font-weight: 300;
}

section.hero .hero-social-media{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
section.hero .hero-social-media .container{
    display: flex;
    height: 100%;
    align-items: center;
}

section.hero .hero-social-media ul{
    padding-left: 0;
    z-index: 101;
}

section.hero .hero-social-media ul li{
    list-style: none;
    padding: 25px 0;
}


section.hero .hero-social-media ul li a i{
    height: 20px;
    color: #ffffff80;
    transition: 0.3s ease-in-out;
    transform: rotate(270deg);
}

section.hero .hero-social-media ul li a i:hover {
    color: white;
    transform: rotate(270deg) scale(1.2);
}



/* ----------------------- Section 1 End-------------------------- */


/* ----------------------- Section 2 Start-------------------------- */

section.choose-switchx{
    padding: 100px;
}

section.choose-switchx .heading, p {
    text-align: center;
}

 .heading {
    font-size: 64px;
    font-weight: 500;
    max-width: 500px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

section.choose-switchx p {
    font-size: 24px;
    max-width: 700px;
    margin: 40px auto 0;
    line-height: 35px;
    letter-spacing: 5px;
}

section.choose-switchx-l {
    display: flex   ;
    justify-content: space-evenly;
    margin-top: 100px;
}

section.choose-switchx-l .content-img img{
    max-width: 500px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.choose-switchx-l .content h3{
    font-size: 48px;
    font-weight: 400;
    margin:0 0 10px 0;
    width: 500px;
}

section.choose-switchx-l .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.choose-switchx-l .content p{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: normal !important;
    text-align: start !important;
    margin:0;
}

section.choose-switchx-r {
    display: flex   ;
    justify-content: space-evenly;
    margin-top: 100px;
}

section.choose-switchx-r .content-img img{
    max-width: 500px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.choose-switchx-r .content h3{
    font-size: 48px;
    font-weight: 400;
    margin:0 0 10px 0;
    width: 500px;
}

section.choose-switchx-r .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.choose-switchx-r .content p{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: normal !important;
    text-align: start !important;
    margin:0;
}

/* ----------------------- Section 2 End-------------------------- */



/* ----------------------- Section 3 Start-------------------------- */
#section-3 {
    background: #EFEFEF;
    padding: 3.5rem 10rem;
}

#section-3 .container .top {
    position:relative;
    margin-bottom: 5rem;
}

#section-3 .container .top img {
    position: absolute;
    top: 60px;
    left: 150px;
    width: 200px;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

#section-3 .swiper-slide:not(.swiper-slide-active) {
    filter: blur(1.5px);
}

.swiper-pagination-bullet-active{
    background: var(--dark_grey) !important;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--dark_grey) !important;
}   


#section-3 .bottom .card{
    width: 300px;
    height: 350px;
    max-width: 100%;
    background-color: var(--white);
    border-radius: 50px;
    margin: 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 50px;
    position: relative;
    text-align: center;
}

#section-3 .bottom .card .card-img{
    max-width: 100px;
    border-radius: 50px;
}
#section-3 .bottom .card .card-name{
    position: relative;
    z-index: 103;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
    margin: 20px auto;
    max-width: 100%;
    min-height: 50px;
}
#section-3 .bottom .card .card-review .comma{
    max-width: 58px;
    position: absolute  ;
    z-index: 102;
}

#section-3 .bottom .card .card-review img:nth-of-type(odd){
    left: 50px;
    top: 225px;
}
#section-3 .bottom .card .card-review img:nth-of-type(even){
    right: 50px;
    bottom: 90px;
    rotate: 180deg;
}

#section-3 .bottom .card .card-review .review{
    font-size: 18px !important;
    font-style: italic;
    z-index: 103;
    position: relative;
    text-align: left !important;
    margin: 35px 0;
}

/* ----------------------- Section 3 End-------------------------- */


/* ----------------------- Section 4 Start-------------------------- */

#section-4{
    background-color: var(--medium_grey);
    padding: 50px 0 25px 0;
}

/* .footer{
    background-color: beige;
    height: 400px;
} */

.footer .footer-sec:nth-of-type(odd){
    width: 25%;
}
.footer .footer-sec:nth-of-type(even){
    width: 49%;
}

.footer .footer-sec{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
#section-4 .footer .footer-sec .contact-heading{
    font-size: 48px;
    font-weight: 500;
    margin: 0;
} 

#section-4 .footer .footer-sec .contact-icon{
    width: 40px;
    text-align: center;
} 

#section-4 .footer .footer-sec .contact-location, .contact-email, .contact-mobile{
    display: flex;
    align-items: center;
} 


#section-4 .footer .contact-location span, .contact-email span, .contact-mobile span{
    text-align: start ;
    margin: 2rem 2.5rem;
    font-size: 18px;
}

#section-4 .footer .contact-location img{
    width: 28px;
}
#section-4 .footer .contact-email img{
    width: 35px;
}
#section-4 .footer .contact-mobile img{
    width: 24px;
}

/* ---------------------Section 4 Form Start--------------------- */

#section-4 .footer .footer-sec .contact{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */

    display: flex;
    justify-content: center ;
    width: 100%;
    /* width: 600px; */
    /* align-items: center; */
    /* min-height: 100vh; */
}

.contact form{
    text-align: center;
    /* width: 600px; */
    width: 80%;
}

form .input-box{
    display: flex;
    justify-content: space-between;
    /* max-width: 100%; */

}
.input-box .input-field{
    width: 50%;
}

.field .item{
    width: 80%;
    padding: 18px;
    background: transparent;
    border: 1px solid var(--black);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
 }

 .field .item::placeholder{
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    /* font-weight: 600; */
 }

 .field .error-txt{
    font-size: 14px;
    color: rgb(210, 9, 9);
    text-align: left;
    margin: -5px 0 10px;
    display: none;
    font-weight: 500;
 }
 
 .field .textarea-field .error-txt{
    margin-top: -10px;
 }

 form .textarea-field .item{
    /* resize: none; */
    width: 90%;
 }
 form .textarea-field .item{
    resize: none;
 }

 
 form button, .footer-nav button{
    padding: 12px 32px;
    width: 96%;
    background: transparent;
    border: 1px solid var(--black);
    outline: none;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    /* transition: 0.5s all ease-in-out; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.66); */
}

.footer-nav button{
    margin-top: 0;
}





/* ---------------------Section 4 Form End--------------------- */




#section-4 .footer-sec .footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

#section-4 .footer-sec .footer-nav ul{
    list-style-type: none;
    /* margin: 2rem 0; */
    padding: 0;
}

#section-4 .footer-sec .footer-nav ul li{
    margin-bottom: 2.5rem;
}

#section-4 .footer-sec .footer-nav ul li a{
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
}


.copyright{
    /* background-color: #00000068; */
    margin: 25px 0 0 0;
}

/* ----------------------- Section 4 End-------------------------- */










/* ----------------------- Progress Circle Start-------------------------- */
#progress {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
}

#progress-value {
    display: block;
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    background-image: linear-gradient(to right bottom, #ffffff, #ededed, #dbdbdb, #cacaca, #b9b9b9);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: var(--dark_grey)
}

/* ----------------------- Progress Circle End-------------------------- */


.other{
    background-color: beige;
    height: 500px;
}
.other .child{
    width: 33%;
    text-align: center;
    display: inline-block;
    height: 100%;
}
.other .child .child1{
    background-color: brown;
    
}
.other .child .child2{
    background-color: rgb(147, 205, 109);
}
.other .child .child3{
    background-color: rgb(109, 189, 205);
}


